.btn {
  background-color: #1976d2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn-excluir{
  background-color: brown !important;
}

.btn:hover {
  background-color: #642d61;
  color: white;
}