MASTER_KEY=minha_chave_secreta
DATABASE_URL=postgresql+psycopg2://postgres:postgres@127.0.0.1:5432/certprot
FRONTEND_ORIGIN=*
AUTH_SERVICE_URL=http://127.0.0.1:8001
COFRE_SERVICE_URL=http://127.0.0.1:8002
COFRE_SERVICE_API_KEY=5WkeIiDYXK0pa4yKuwnHW13qlV9pjaQkFeTQ6RyyK1o

VITE_URL_BACKEND=http://127.0.0.1:8000
CERT_STORAGE_DIR=storage/certificados