/* Botão Mobile */
.sidebar-toggle {
  display: none;
  background: #1976d2;
  color: white;
  border: none;
  padding: 10px 14px;
  font-size: 22px;
  position: fixed;
  top: 15px;
  left: 15px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 2001;
}

/* Sidebar container */
.sidebar {
  width: 260px;
  height: 100vh;
  background: white;
  border-right: 1px solid #eaeaea;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  z-index: 2000;
}

/* Título */
.sidebar-title {
  font-size: 26px;
  font-weight: 700;
  color: #2c4695;
  margin-bottom: 30px;
}

/* MENU */
.sidebar-menu {
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 10px;
  color: #444;
  font-size: 17px;
  transition: 0.2s ease-in-out;
}

.menu-item .icon {
  font-size: 20px;
  margin-right: 12px;
}

.menu-item:hover {
  background: #f4f6ff;
}

/* Estilo do item ativo */
.menu-item.active {
  background: linear-gradient(135deg, #0a50b18e, #837fad);
  color: rgb(20, 39, 27);
  box-shadow: 0px 4px 12px rgba(56, 103, 245, 0.3);
}

/* Footer */
.sidebar-footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-top: 12px;
  border-top: 1px solid #eee;
}

.sidebar-footer {
  padding: 16px;
  padding-bottom: 24px; /* espaço extra no final */
  margin-top: auto;
  border-top: 1px solid #e5e5e5;

  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;

  white-space: normal;
}


.sidebar-footer div {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.avatar {
  width: 38px;
  height: 38px;
  background: #3b82f6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  flex-shrink: 0; /* impede que o avatar seja esmagado */
}

.user-name {
  font-weight: 600;
  font-size: 15px;
  color: #333;

  /* PERMITE QUE O TEXTO NÃO ESTOURE A CAIXA */
  white-space: normal;
  word-break: break-word;
}

.user-email {
  font-size: 12px;
  color: #666;
  white-space: normal;
  word-break: break-all;
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1500;
  }
}

.submenu {
  padding-left: 35px;
  background: #f4f6ff;
}
.submenu-item {
  padding: 8px 0;
  cursor: pointer;
  color: #1c0633;
  font-size: 14px;
}

.submenu-item:hover {
  color: rgb(62, 98, 191);
}

.submenu-arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
}