.select-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.select-label {
  font-size: 14px;
  font-weight: 600;
  color: #2c4695;
  margin-bottom: 6px;
}

.select2-container .select2-selection {
  height: 42px !important;
  border-radius: 8px !important;
  padding: 6px !important;
  border: 1px solid #d5d5d5 !important;
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.select2-selection__rendered {
  font-size: 15px;
  color: #444;
}

.select2-selection__arrow {
  top: 8px !important;
}

.select2-dropdown {
  border-radius: 8px !important;
}
