.layout {
  display: flex;
}

/* Sidebar fixa */
.sidebar {
  width: 260px; 
  flex-shrink: 0;
}

/* Conteúdo principal empurrado para a direita */
.main-content {
  margin-left: 260px; /* igual à largura da sidebar */
  padding: 20px;
  min-height: 100vh;
  background: #f7f7f7;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0; /* quando sidebar fecha */
  }
}
